.container {
	width: 928px;
}

h1, h2, p, a {
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
	font-size: 64px;
	font-weight: 100;
	margin-bottom: 20px;
}

a {
	font-size: 18px;
	font-weight: 200;
}

.main {
	height: 550px;
	padding-top: 55px;
}

.main p {
	font-size: 26px;
	font-weight: 200;
	margin-bottom: 40px;
}

.section .row {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #dbdbdb;
}

.store {
	text-align: center;
	border-bottom: 0px;
	padding-bottom: 100px;
}

.footer {
	border-top: 1px solid #dbdbdb;
	background-color: #f3f3f3;
	padding: 20px 0 80px;
}

.footer ul {
	list-style-type: none;
	padding-left;
}

.footer li {
	color: #999;
	font-weight: 600;
}